.mask-wrapper {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}
.slick-dots {
  margin-left: -40% !important;
}
.slick-dots li {
  margin: 0;
}
.slick-dots li.slick-active div {
  width: 24px;
  margin-left: -8px;
  transition: background-color 0.3s, transform 0.3s;
}
